#pantalla{
    background-color: red;
    width: 200px;
    height: 120px;
    border: 3px solid red;
    align-content: center;
    text-align: center;
    border-radius: 5px;
}
p {
    width: 200px;
    color: white;
    align-content: center;
    border-radius: 5px;
}
#operacion {
    text-align: right;
    font-size: 20px;
    background-color: blue;
    text-indent: 0 10px;
    white-space: nowrap;
}
#resultado {
    text-align: left;
    font-size: 30px;
    background-color: black;
    text-indent: 10px;
    white-space: unset;
}
table{
    align-content: center;
    text-align: center;
}
.num{
    font-style: bold;
}
#botones{
    text-align: center;
    align-content: center;
    width: 200px;
    border-radius:5px;
    border: 3px solid grey;
}
#botones input {
    height: 40px;
    width: 50px;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    border-color: black;
    background-color: darkgrey;
    color: white;
}