#head {
    background-color: red;
    color: blue;
    font-style: italic;
    text-align: center;
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#headTitle {
    font-size: 20px;
    text-decoration: underline;
}
#headSubtitle {
    font-size: 15px;
}

.divJuego{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 83vh;
    width: 100%;
    font-size: 15px;
}

.botonInicio{
    font-size: 10px;
    background-color: blue;
    color: white;
    margin: 3px;
}

.inputs{
    font-size: 15px;
}

.etiqueta0 {
    font-weight: bold;
}

.inputs .letra{
    padding: 1px;
}
.inputs .botonAdivinar{
    background-color: blue;
    color: red;
    font-style: bold;
}
#ahorcado {
    height: 50vh;
}

.divAdivinar{
    text-align: center;
}
.palabra{
    font-style: bold;
}
.listaLetras{
    padding: 2px;
    border: 2px solid red;
}
.listaLetras:after{
    padding: 2px;
}
.mensaje{
    font-style: bold;
}